#stars {
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 480px 720px #fff, 1649px 1737px #fff, 951px 1967px #fff, 1141px 534px #fff, 1299px 746px #fff,
		151px 1448px #fff, 459px 1791px #fff, 1871px 591px #fff, 1718px 188px #fff, 1343px 329px #fff, 483px 343px #fff,
		1510px 1913px #fff, 85px 942px #fff, 123px 452px #fff, 233px 129px #fff, 1702px 1234px #fff, 678px 757px #fff,
		731px 358px #fff, 685px 1114px #fff, 1543px 1212px #fff, 1852px 1479px #fff, 1774px 1258px #fff,
		1908px 1865px #fff, 1708px 324px #fff, 783px 910px #fff, 1651px 1818px #fff, 1592px 1723px #fff,
		204px 291px #fff, 1226px 1457px #fff, 436px 1652px #fff, 960px 317px #fff, 1439px 1056px #fff, 1033px 24px #fff,
		1243px 1381px #fff, 40px 1912px #fff, 1994px 1007px #fff, 1444px 673px #fff, 87px 1601px #fff,
		1720px 1151px #fff, 184px 515px #fff, 1047px 384px #fff, 729px 1680px #fff, 1290px 262px #fff, 870px 1529px #fff,
		1192px 1732px #fff, 517px 1966px #fff, 1690px 219px #fff, 1489px 754px #fff, 1430px 1112px #fff,
		173px 680px #fff, 739px 1602px #fff, 220px 238px #fff, 1122px 1914px #fff, 404px 82px #fff, 1985px 1390px #fff,
		281px 6px #fff, 283px 1075px #fff, 416px 890px #fff, 1600px 1415px #fff, 693px 859px #fff, 1444px 259px #fff,
		767px 477px #fff, 1176px 177px #fff, 369px 303px #fff, 1611px 264px #fff, 575px 1282px #fff, 472px 323px #fff,
		1522px 880px #fff, 866px 137px #fff, 183px 76px #fff, 337px 1071px #fff, 619px 1970px #fff, 1249px 1315px #fff,
		1415px 1727px #fff, 846px 466px #fff, 950px 12px #fff, 447px 913px #fff, 1763px 918px #fff, 994px 108px #fff,
		272px 4px #fff, 838px 1737px #fff, 12px 655px #fff, 1238px 1248px #fff, 166px 1832px #fff, 310px 1678px #fff,
		547px 1107px #fff, 244px 1915px #fff, 1619px 1332px #fff, 139px 646px #fff, 578px 146px #fff, 879px 1128px #fff,
		579px 1111px #fff, 300px 992px #fff, 761px 1740px #fff, 1290px 1088px #fff, 1762px 1850px #fff, 989px 258px #fff,
		1368px 836px #fff, 1500px 1379px #fff, 1900px 1072px #fff, 1213px 930px #fff, 1118px 214px #fff, 72px 919px #fff,
		1076px 27px #fff, 1304px 1895px #fff, 1325px 1133px #fff, 1877px 1565px #fff, 681px 707px #fff,
		1448px 427px #fff, 484px 1449px #fff, 1970px 768px #fff, 1426px 363px #fff, 324px 1931px #fff,
		1591px 1907px #fff, 1481px 1369px #fff, 470px 1528px #fff, 391px 1308px #fff, 106px 83px #fff,
		1661px 1076px #fff, 1636px 897px #fff, 1319px 489px #fff, 662px 751px #fff, 1874px 1681px #fff,
		1784px 1103px #fff, 732px 1193px #fff, 1188px 1358px #fff, 617px 361px #fff, 996px 1131px #fff,
		1048px 443px #fff, 551px 1634px #fff, 1928px 593px #fff, 809px 1776px #fff, 739px 179px #fff, 533px 833px #fff,
		1685px 83px #fff, 533px 254px #fff, 588px 1686px #fff, 19px 1019px #fff, 1547px 1384px #fff, 691px 1187px #fff,
		1175px 819px #fff, 603px 688px #fff, 504px 100px #fff, 1052px 608px #fff, 1053px 1169px #fff, 531px 1967px #fff,
		947px 580px #fff, 909px 1732px #fff, 81px 864px #fff, 506px 1778px #fff, 484px 1729px #fff, 854px 1294px #fff,
		1438px 356px #fff, 886px 188px #fff, 355px 122px #fff, 357px 1371px #fff, 1641px 296px #fff, 1617px 1720px #fff,
		1311px 652px #fff, 1597px 534px #fff, 710px 1055px #fff, 1963px 503px #fff, 30px 1655px #fff, 851px 22px #fff,
		256px 970px #fff, 883px 1593px #fff, 636px 1914px #fff, 1862px 1290px #fff, 178px 1574px #fff, 1621px 158px #fff,
		85px 1011px #fff, 598px 642px #fff, 1189px 108px #fff, 294px 342px #fff, 1857px 1955px #fff, 1582px 1113px #fff,
		1800px 1165px #fff, 557px 1618px #fff, 1199px 273px #fff, 1729px 1887px #fff, 201px 1361px #fff,
		1343px 998px #fff, 251px 1734px #fff, 1528px 821px #fff, 754px 1715px #fff, 1287px 1807px #fff,
		669px 1047px #fff, 1990px 704px #fff, 1909px 1518px #fff, 1450px 516px #fff, 1179px 554px #fff, 350px 517px #fff,
		376px 389px #fff, 295px 414px #fff, 1137px 648px #fff, 337px 228px #fff, 1726px 991px #fff, 1139px 209px #fff,
		246px 950px #fff, 721px 1830px #fff, 1657px 1241px #fff, 1718px 1956px #fff, 1232px 1354px #fff,
		1802px 1345px #fff, 1022px 612px #fff, 1266px 12px #fff, 537px 1085px #fff, 895px 1642px #fff, 116px 327px #fff,
		699px 809px #fff, 1571px 798px #fff, 143px 1251px #fff, 340px 1754px #fff, 1848px 277px #fff, 1102px 175px #fff,
		1716px 1298px #fff, 265px 1809px #fff, 1693px 1771px #fff, 1206px 631px #fff, 1367px 938px #fff,
		1994px 1679px #fff, 601px 701px #fff, 139px 1920px #fff, 119px 1157px #fff, 1600px 320px #fff, 1870px 148px #fff,
		1230px 497px #fff, 729px 1527px #fff, 1735px 1150px #fff, 1284px 950px #fff, 946px 1777px #fff, 988px 151px #fff,
		1964px 1227px #fff, 58px 1002px #fff, 99px 37px #fff, 1805px 947px #fff, 646px 1097px #fff, 918px 1653px #fff,
		1073px 446px #fff, 1883px 333px #fff, 150px 1440px #fff, 1981px 1697px #fff, 1435px 1597px #fff,
		307px 1726px #fff, 1329px 1763px #fff, 1884px 724px #fff, 340px 602px #fff, 1278px 1490px #fff,
		1376px 1698px #fff, 387px 1987px #fff, 1619px 909px #fff, 1378px 949px #fff, 958px 547px #fff, 1503px 508px #fff,
		728px 1934px #fff, 1000px 1045px #fff, 379px 132px #fff, 282px 693px #fff, 590px 521px #fff, 1173px 915px #fff,
		1928px 1166px #fff, 1108px 1276px #fff, 475px 1554px #fff, 838px 108px #fff, 708px 1360px #fff,
		1178px 1443px #fff, 1369px 47px #fff, 1834px 1297px #fff, 1750px 1545px #fff, 323px 336px #fff,
		595px 1702px #fff, 1015px 1896px #fff, 522px 591px #fff, 228px 1122px #fff, 1955px 241px #fff, 180px 1875px #fff,
		597px 886px #fff, 1620px 1898px #fff, 1474px 805px #fff, 827px 376px #fff, 458px 1346px #fff, 1425px 358px #fff,
		1358px 407px #fff, 1289px 1819px #fff, 226px 45px #fff, 277px 1928px #fff, 1669px 1524px #fff, 88px 782px #fff,
		240px 1443px #fff, 300px 795px #fff, 1823px 1290px #fff, 10px 259px #fff, 246px 924px #fff, 169px 1696px #fff,
		1947px 557px #fff, 819px 565px #fff, 389px 1101px #fff, 652px 801px #fff, 516px 1462px #fff, 1000px 652px #fff,
		516px 591px #fff, 565px 1466px #fff, 1105px 1785px #fff, 664px 876px #fff, 1543px 421px #fff, 684px 1994px #fff,
		1124px 1106px #fff, 950px 1595px #fff, 1834px 1543px #fff, 911px 1347px #fff, 1799px 1509px #fff,
		1792px 1095px #fff, 81px 908px #fff, 1052px 1513px #fff, 1958px 1360px #fff, 1382px 1301px #fff,
		1661px 385px #fff, 163px 530px #fff, 1317px 1481px #fff, 595px 163px #fff, 366px 1091px #fff, 1553px 911px #fff,
		1903px 645px #fff, 1346px 435px #fff, 651px 318px #fff, 1704px 1080px #fff, 361px 475px #fff, 1191px 635px #fff,
		1482px 1096px #fff, 1287px 1327px #fff, 304px 1732px #fff, 1978px 1911px #fff, 1212px 32px #fff,
		871px 1395px #fff, 885px 1966px #fff, 490px 1783px #fff, 1553px 887px #fff, 1383px 1248px #fff,
		172px 1421px #fff, 2px 1105px #fff, 699px 1817px #fff, 53px 74px #fff, 288px 1843px #fff, 1719px 886px #fff,
		1159px 1050px #fff, 1989px 607px #fff, 1637px 957px #fff, 596px 1585px #fff, 1153px 804px #fff, 48px 1967px #fff,
		1100px 1519px #fff, 1931px 1352px #fff, 1213px 42px #fff, 151px 1577px #fff, 489px 545px #fff, 260px 1838px #fff,
		1937px 330px #fff, 623px 213px #fff, 1156px 1555px #fff, 1941px 1434px #fff, 322px 266px #fff,
		1472px 1835px #fff, 426px 92px #fff, 1996px 106px #fff, 1997px 1417px #fff, 1454px 1781px #fff,
		443px 1098px #fff, 1808px 1843px #fff, 613px 369px #fff, 199px 602px #fff, 582px 1017px #fff, 818px 1696px #fff,
		38px 765px #fff, 834px 257px #fff, 1292px 1452px #fff, 1899px 1298px #fff, 405px 1025px #fff, 1693px 1685px #fff,
		1781px 1580px #fff, 255px 358px #fff, 53px 409px #fff, 1931px 1656px #fff, 164px 1456px #fff, 299px 1760px #fff,
		1211px 1870px #fff, 1868px 730px #fff, 1841px 865px #fff, 422px 1605px #fff, 722px 102px #fff,
		1895px 1302px #fff, 178px 1049px #fff, 1497px 1404px #fff, 955px 48px #fff, 684px 1593px #fff, 506px 51px #fff,
		1055px 940px #fff, 799px 600px #fff, 664px 1659px #fff, 789px 1244px #fff, 1619px 180px #fff, 1045px 92px #fff,
		7px 1728px #fff, 747px 837px #fff, 1291px 952px #fff, 525px 744px #fff, 522px 1910px #fff, 419px 1770px #fff,
		1549px 74px #fff, 745px 981px #fff, 1293px 1552px #fff, 910px 235px #fff, 931px 1394px #fff, 416px 1394px #fff,
		1017px 949px #fff, 199px 246px #fff, 1750px 1768px #fff, 1273px 232px #fff, 112px 1221px #fff, 223px 739px #fff,
		1233px 659px #fff, 35px 459px #fff, 1197px 1421px #fff, 701px 256px #fff, 633px 1472px #fff, 590px 916px #fff,
		1253px 656px #fff, 1187px 1511px #fff, 749px 1495px #fff, 705px 1521px #fff, 564px 744px #fff, 810px 158px #fff,
		423px 1894px #fff, 1664px 1845px #fff, 275px 1912px #fff, 938px 946px #fff, 943px 1959px #fff, 1986px 502px #fff,
		1110px 74px #fff, 1962px 1806px #fff, 1749px 1352px #fff, 1596px 959px #fff, 1739px 197px #fff,
		1692px 1310px #fff, 1766px 20px #fff, 1978px 869px #fff, 789px 500px #fff, 1570px 6px #fff, 1303px 819px #fff,
		288px 157px #fff, 466px 295px #fff, 1749px 682px #fff, 1079px 1458px #fff, 7px 1058px #fff, 736px 70px #fff,
		888px 1296px #fff, 1335px 1858px #fff, 1048px 966px #fff, 454px 1576px #fff, 1301px 1849px #fff,
		867px 1770px #fff, 51px 81px #fff, 1176px 535px #fff, 907px 234px #fff, 1255px 287px #fff, 313px 1470px #fff,
		574px 1654px #fff, 850px 454px #fff, 1197px 1369px #fff, 647px 1923px #fff, 1845px 779px #fff, 188px 189px #fff,
		1112px 359px #fff, 33px 34px #fff, 459px 1172px #fff, 1926px 918px #fff, 834px 1338px #fff, 282px 1434px #fff,
		545px 86px #fff, 707px 1638px #fff, 614px 920px #fff, 48px 1805px #fff, 66px 1753px #fff, 894px 165px #fff,
		1431px 786px #fff, 1100px 1747px #fff, 1971px 1893px #fff, 234px 740px #fff, 569px 1550px #fff, 1434px 39px #fff,
		398px 1046px #fff, 1048px 714px #fff, 893px 146px #fff, 1918px 962px #fff, 1847px 1056px #fff, 748px 991px #fff,
		224px 727px #fff, 1040px 1607px #fff, 1255px 26px #fff, 1017px 1952px #fff, 519px 1626px #fff,
		1447px 1623px #fff, 1176px 7px #fff, 1762px 534px #fff, 493px 240px #fff, 875px 601px #fff, 1937px 1449px #fff,
		1735px 89px #fff, 187px 1539px #fff, 425px 1135px #fff, 1418px 1003px #fff, 969px 814px #fff, 37px 1198px #fff,
		1591px 1374px #fff, 1186px 132px #fff, 1164px 636px #fff, 559px 1021px #fff, 379px 1123px #fff,
		460px 1633px #fff, 1628px 336px #fff, 587px 1693px #fff, 1562px 87px #fff, 541px 1478px #fff, 418px 1917px #fff,
		813px 741px #fff, 1391px 164px #fff, 497px 1368px #fff, 742px 930px #fff, 1099px 393px #fff, 1243px 44px #fff,
		933px 1655px #fff, 517px 1863px #fff, 259px 1016px #fff, 1614px 953px #fff, 1760px 923px #fff, 805px 1512px #fff,
		674px 203px #fff, 939px 1611px #fff, 201px 21px #fff, 1979px 171px #fff, 211px 1952px #fff, 869px 1564px #fff,
		97px 1802px #fff, 1354px 1419px #fff, 1904px 369px #fff, 270px 347px #fff, 60px 1907px #fff, 237px 1572px #fff,
		1692px 1091px #fff, 1193px 1748px #fff, 1104px 1295px #fff, 965px 227px #fff, 1948px 1994px #fff,
		1066px 813px #fff, 1572px 1px #fff, 80px 1631px #fff, 1366px 1966px #fff, 1197px 1641px #fff, 594px 365px #fff,
		1947px 1299px #fff, 728px 75px #fff, 133px 1292px #fff, 61px 1057px #fff, 217px 1347px #fff, 1013px 1824px #fff,
		1905px 989px #fff, 311px 938px #fff, 1802px 779px #fff, 1267px 860px #fff, 466px 1633px #fff, 101px 1548px #fff,
		1614px 1000px #fff, 792px 1363px #fff, 698px 1157px #fff, 1691px 213px #fff, 1241px 464px #fff, 541px 441px #fff,
		400px 1402px #fff, 325px 1410px #fff, 521px 186px #fff, 1228px 132px #fff, 1718px 1298px #fff,
		1797px 1625px #fff, 682px 108px #fff, 1237px 349px #fff, 970px 1195px #fff, 1678px 1531px #fff,
		1380px 890px #fff, 475px 915px #fff, 1507px 547px #fff, 874px 896px #fff, 1281px 558px #fff, 1097px 1680px #fff,
		1502px 1540px #fff, 1285px 455px #fff, 1520px 905px #fff, 194px 1435px #fff, 1234px 155px #fff, 382px 661px #fff,
		1914px 1150px #fff, 668px 1104px #fff, 1892px 1927px #fff, 1124px 735px #fff, 1239px 1350px #fff,
		1738px 1524px #fff, 871px 944px #fff, 963px 419px #fff, 695px 830px #fff, 110px 807px #fff, 565px 848px #fff,
		1553px 310px #fff, 1009px 1837px #fff, 849px 1811px #fff, 256px 1048px #fff, 1123px 1079px #fff,
		1996px 1910px #fff, 38px 694px #fff, 1442px 1567px #fff, 1720px 568px #fff, 976px 349px #fff, 1143px 44px #fff,
		1488px 1681px #fff, 220px 374px #fff, 236px 1950px #fff, 545px 1955px #fff, 1223px 375px #fff, 472px 602px #fff,
		1057px 1309px #fff, 1237px 35px #fff, 78px 1800px #fff, 1199px 1003px #fff, 1470px 1077px #fff, 701px 496px #fff,
		1063px 67px #fff, 1624px 1201px #fff, 278px 504px #fff, 895px 1788px #fff, 1022px 1370px #fff, 168px 1214px #fff,
		481px 314px #fff, 667px 1134px #fff, 1560px 616px #fff, 1850px 1925px #fff, 1135px 446px #fff, 1950px 470px #fff,
		1468px 1784px #fff, 526px 650px #fff, 63px 1676px #fff, 1464px 1344px #fff, 548px 1511px #fff, 96px 1771px #fff,
		921px 715px #fff, 1080px 1597px #fff, 1510px 954px #fff, 1495px 1000px #fff, 1825px 1601px #fff,
		390px 1663px #fff, 1098px 1160px #fff, 272px 1460px #fff, 433px 751px #fff, 463px 484px #fff, 1562px 205px #fff,
		1076px 1758px #fff, 1822px 1618px #fff, 1222px 292px #fff, 1914px 165px #fff, 1006px 1989px #fff,
		1321px 947px #fff, 226px 371px #fff, 179px 1431px #fff, 106px 1071px #fff, 772px 881px #fff, 1709px 363px #fff,
		1631px 1333px #fff, 919px 1087px #fff, 453px 1240px #fff, 1090px 695px #fff, 1022px 1947px #fff,
		168px 1578px #fff, 1100px 1808px #fff, 1391px 586px #fff, 14px 1994px #fff, 602px 1462px #fff, 1799px 272px #fff,
		1129px 894px #fff, 556px 16px #fff, 85px 803px #fff, 446px 881px #fff, 1439px 250px #fff, 1997px 1474px #fff,
		1256px 220px #fff, 1489px 735px #fff, 585px 426px #fff, 1571px 1059px #fff, 1396px 973px #fff,
		1412px 1653px #fff, 880px 74px #fff, 760px 1965px #fff, 382px 1620px #fff, 512px 1551px #fff, 1565px 1071px #fff;
	animation: animStar 50s linear infinite;
}

#stars:after {
	content: " ";
	position: absolute;
	top: 2000px;
	width: 1px;
	height: 1px;
	background: transparent;
	box-shadow: 480px 720px #fff, 1649px 1737px #fff, 951px 1967px #fff, 1141px 534px #fff, 1299px 746px #fff,
		151px 1448px #fff, 459px 1791px #fff, 1871px 591px #fff, 1718px 188px #fff, 1343px 329px #fff, 483px 343px #fff,
		1510px 1913px #fff, 85px 942px #fff, 123px 452px #fff, 233px 129px #fff, 1702px 1234px #fff, 678px 757px #fff,
		731px 358px #fff, 685px 1114px #fff, 1543px 1212px #fff, 1852px 1479px #fff, 1774px 1258px #fff,
		1908px 1865px #fff, 1708px 324px #fff, 783px 910px #fff, 1651px 1818px #fff, 1592px 1723px #fff,
		204px 291px #fff, 1226px 1457px #fff, 436px 1652px #fff, 960px 317px #fff, 1439px 1056px #fff, 1033px 24px #fff,
		1243px 1381px #fff, 40px 1912px #fff, 1994px 1007px #fff, 1444px 673px #fff, 87px 1601px #fff,
		1720px 1151px #fff, 184px 515px #fff, 1047px 384px #fff, 729px 1680px #fff, 1290px 262px #fff, 870px 1529px #fff,
		1192px 1732px #fff, 517px 1966px #fff, 1690px 219px #fff, 1489px 754px #fff, 1430px 1112px #fff,
		173px 680px #fff, 739px 1602px #fff, 220px 238px #fff, 1122px 1914px #fff, 404px 82px #fff, 1985px 1390px #fff,
		281px 6px #fff, 283px 1075px #fff, 416px 890px #fff, 1600px 1415px #fff, 693px 859px #fff, 1444px 259px #fff,
		767px 477px #fff, 1176px 177px #fff, 369px 303px #fff, 1611px 264px #fff, 575px 1282px #fff, 472px 323px #fff,
		1522px 880px #fff, 866px 137px #fff, 183px 76px #fff, 337px 1071px #fff, 619px 1970px #fff, 1249px 1315px #fff,
		1415px 1727px #fff, 846px 466px #fff, 950px 12px #fff, 447px 913px #fff, 1763px 918px #fff, 994px 108px #fff,
		272px 4px #fff, 838px 1737px #fff, 12px 655px #fff, 1238px 1248px #fff, 166px 1832px #fff, 310px 1678px #fff,
		547px 1107px #fff, 244px 1915px #fff, 1619px 1332px #fff, 139px 646px #fff, 578px 146px #fff, 879px 1128px #fff,
		579px 1111px #fff, 300px 992px #fff, 761px 1740px #fff, 1290px 1088px #fff, 1762px 1850px #fff, 989px 258px #fff,
		1368px 836px #fff, 1500px 1379px #fff, 1900px 1072px #fff, 1213px 930px #fff, 1118px 214px #fff, 72px 919px #fff,
		1076px 27px #fff, 1304px 1895px #fff, 1325px 1133px #fff, 1877px 1565px #fff, 681px 707px #fff,
		1448px 427px #fff, 484px 1449px #fff, 1970px 768px #fff, 1426px 363px #fff, 324px 1931px #fff,
		1591px 1907px #fff, 1481px 1369px #fff, 470px 1528px #fff, 391px 1308px #fff, 106px 83px #fff,
		1661px 1076px #fff, 1636px 897px #fff, 1319px 489px #fff, 662px 751px #fff, 1874px 1681px #fff,
		1784px 1103px #fff, 732px 1193px #fff, 1188px 1358px #fff, 617px 361px #fff, 996px 1131px #fff,
		1048px 443px #fff, 551px 1634px #fff, 1928px 593px #fff, 809px 1776px #fff, 739px 179px #fff, 533px 833px #fff,
		1685px 83px #fff, 533px 254px #fff, 588px 1686px #fff, 19px 1019px #fff, 1547px 1384px #fff, 691px 1187px #fff,
		1175px 819px #fff, 603px 688px #fff, 504px 100px #fff, 1052px 608px #fff, 1053px 1169px #fff, 531px 1967px #fff,
		947px 580px #fff, 909px 1732px #fff, 81px 864px #fff, 506px 1778px #fff, 484px 1729px #fff, 854px 1294px #fff,
		1438px 356px #fff, 886px 188px #fff, 355px 122px #fff, 357px 1371px #fff, 1641px 296px #fff, 1617px 1720px #fff,
		1311px 652px #fff, 1597px 534px #fff, 710px 1055px #fff, 1963px 503px #fff, 30px 1655px #fff, 851px 22px #fff,
		256px 970px #fff, 883px 1593px #fff, 636px 1914px #fff, 1862px 1290px #fff, 178px 1574px #fff, 1621px 158px #fff,
		85px 1011px #fff, 598px 642px #fff, 1189px 108px #fff, 294px 342px #fff, 1857px 1955px #fff, 1582px 1113px #fff,
		1800px 1165px #fff, 557px 1618px #fff, 1199px 273px #fff, 1729px 1887px #fff, 201px 1361px #fff,
		1343px 998px #fff, 251px 1734px #fff, 1528px 821px #fff, 754px 1715px #fff, 1287px 1807px #fff,
		669px 1047px #fff, 1990px 704px #fff, 1909px 1518px #fff, 1450px 516px #fff, 1179px 554px #fff, 350px 517px #fff,
		376px 389px #fff, 295px 414px #fff, 1137px 648px #fff, 337px 228px #fff, 1726px 991px #fff, 1139px 209px #fff,
		246px 950px #fff, 721px 1830px #fff, 1657px 1241px #fff, 1718px 1956px #fff, 1232px 1354px #fff,
		1802px 1345px #fff, 1022px 612px #fff, 1266px 12px #fff, 537px 1085px #fff, 895px 1642px #fff, 116px 327px #fff,
		699px 809px #fff, 1571px 798px #fff, 143px 1251px #fff, 340px 1754px #fff, 1848px 277px #fff, 1102px 175px #fff,
		1716px 1298px #fff, 265px 1809px #fff, 1693px 1771px #fff, 1206px 631px #fff, 1367px 938px #fff,
		1994px 1679px #fff, 601px 701px #fff, 139px 1920px #fff, 119px 1157px #fff, 1600px 320px #fff, 1870px 148px #fff,
		1230px 497px #fff, 729px 1527px #fff, 1735px 1150px #fff, 1284px 950px #fff, 946px 1777px #fff, 988px 151px #fff,
		1964px 1227px #fff, 58px 1002px #fff, 99px 37px #fff, 1805px 947px #fff, 646px 1097px #fff, 918px 1653px #fff,
		1073px 446px #fff, 1883px 333px #fff, 150px 1440px #fff, 1981px 1697px #fff, 1435px 1597px #fff,
		307px 1726px #fff, 1329px 1763px #fff, 1884px 724px #fff, 340px 602px #fff, 1278px 1490px #fff,
		1376px 1698px #fff, 387px 1987px #fff, 1619px 909px #fff, 1378px 949px #fff, 958px 547px #fff, 1503px 508px #fff,
		728px 1934px #fff, 1000px 1045px #fff, 379px 132px #fff, 282px 693px #fff, 590px 521px #fff, 1173px 915px #fff,
		1928px 1166px #fff, 1108px 1276px #fff, 475px 1554px #fff, 838px 108px #fff, 708px 1360px #fff,
		1178px 1443px #fff, 1369px 47px #fff, 1834px 1297px #fff, 1750px 1545px #fff, 323px 336px #fff,
		595px 1702px #fff, 1015px 1896px #fff, 522px 591px #fff, 228px 1122px #fff, 1955px 241px #fff, 180px 1875px #fff,
		597px 886px #fff, 1620px 1898px #fff, 1474px 805px #fff, 827px 376px #fff, 458px 1346px #fff, 1425px 358px #fff,
		1358px 407px #fff, 1289px 1819px #fff, 226px 45px #fff, 277px 1928px #fff, 1669px 1524px #fff, 88px 782px #fff,
		240px 1443px #fff, 300px 795px #fff, 1823px 1290px #fff, 10px 259px #fff, 246px 924px #fff, 169px 1696px #fff,
		1947px 557px #fff, 819px 565px #fff, 389px 1101px #fff, 652px 801px #fff, 516px 1462px #fff, 1000px 652px #fff,
		516px 591px #fff, 565px 1466px #fff, 1105px 1785px #fff, 664px 876px #fff, 1543px 421px #fff, 684px 1994px #fff,
		1124px 1106px #fff, 950px 1595px #fff, 1834px 1543px #fff, 911px 1347px #fff, 1799px 1509px #fff,
		1792px 1095px #fff, 81px 908px #fff, 1052px 1513px #fff, 1958px 1360px #fff, 1382px 1301px #fff,
		1661px 385px #fff, 163px 530px #fff, 1317px 1481px #fff, 595px 163px #fff, 366px 1091px #fff, 1553px 911px #fff,
		1903px 645px #fff, 1346px 435px #fff, 651px 318px #fff, 1704px 1080px #fff, 361px 475px #fff, 1191px 635px #fff,
		1482px 1096px #fff, 1287px 1327px #fff, 304px 1732px #fff, 1978px 1911px #fff, 1212px 32px #fff,
		871px 1395px #fff, 885px 1966px #fff, 490px 1783px #fff, 1553px 887px #fff, 1383px 1248px #fff,
		172px 1421px #fff, 2px 1105px #fff, 699px 1817px #fff, 53px 74px #fff, 288px 1843px #fff, 1719px 886px #fff,
		1159px 1050px #fff, 1989px 607px #fff, 1637px 957px #fff, 596px 1585px #fff, 1153px 804px #fff, 48px 1967px #fff,
		1100px 1519px #fff, 1931px 1352px #fff, 1213px 42px #fff, 151px 1577px #fff, 489px 545px #fff, 260px 1838px #fff,
		1937px 330px #fff, 623px 213px #fff, 1156px 1555px #fff, 1941px 1434px #fff, 322px 266px #fff,
		1472px 1835px #fff, 426px 92px #fff, 1996px 106px #fff, 1997px 1417px #fff, 1454px 1781px #fff,
		443px 1098px #fff, 1808px 1843px #fff, 613px 369px #fff, 199px 602px #fff, 582px 1017px #fff, 818px 1696px #fff,
		38px 765px #fff, 834px 257px #fff, 1292px 1452px #fff, 1899px 1298px #fff, 405px 1025px #fff, 1693px 1685px #fff,
		1781px 1580px #fff, 255px 358px #fff, 53px 409px #fff, 1931px 1656px #fff, 164px 1456px #fff, 299px 1760px #fff,
		1211px 1870px #fff, 1868px 730px #fff, 1841px 865px #fff, 422px 1605px #fff, 722px 102px #fff,
		1895px 1302px #fff, 178px 1049px #fff, 1497px 1404px #fff, 955px 48px #fff, 684px 1593px #fff, 506px 51px #fff,
		1055px 940px #fff, 799px 600px #fff, 664px 1659px #fff, 789px 1244px #fff, 1619px 180px #fff, 1045px 92px #fff,
		7px 1728px #fff, 747px 837px #fff, 1291px 952px #fff, 525px 744px #fff, 522px 1910px #fff, 419px 1770px #fff,
		1549px 74px #fff, 745px 981px #fff, 1293px 1552px #fff, 910px 235px #fff, 931px 1394px #fff, 416px 1394px #fff,
		1017px 949px #fff, 199px 246px #fff, 1750px 1768px #fff, 1273px 232px #fff, 112px 1221px #fff, 223px 739px #fff,
		1233px 659px #fff, 35px 459px #fff, 1197px 1421px #fff, 701px 256px #fff, 633px 1472px #fff, 590px 916px #fff,
		1253px 656px #fff, 1187px 1511px #fff, 749px 1495px #fff, 705px 1521px #fff, 564px 744px #fff, 810px 158px #fff,
		423px 1894px #fff, 1664px 1845px #fff, 275px 1912px #fff, 938px 946px #fff, 943px 1959px #fff, 1986px 502px #fff,
		1110px 74px #fff, 1962px 1806px #fff, 1749px 1352px #fff, 1596px 959px #fff, 1739px 197px #fff,
		1692px 1310px #fff, 1766px 20px #fff, 1978px 869px #fff, 789px 500px #fff, 1570px 6px #fff, 1303px 819px #fff,
		288px 157px #fff, 466px 295px #fff, 1749px 682px #fff, 1079px 1458px #fff, 7px 1058px #fff, 736px 70px #fff,
		888px 1296px #fff, 1335px 1858px #fff, 1048px 966px #fff, 454px 1576px #fff, 1301px 1849px #fff,
		867px 1770px #fff, 51px 81px #fff, 1176px 535px #fff, 907px 234px #fff, 1255px 287px #fff, 313px 1470px #fff,
		574px 1654px #fff, 850px 454px #fff, 1197px 1369px #fff, 647px 1923px #fff, 1845px 779px #fff, 188px 189px #fff,
		1112px 359px #fff, 33px 34px #fff, 459px 1172px #fff, 1926px 918px #fff, 834px 1338px #fff, 282px 1434px #fff,
		545px 86px #fff, 707px 1638px #fff, 614px 920px #fff, 48px 1805px #fff, 66px 1753px #fff, 894px 165px #fff,
		1431px 786px #fff, 1100px 1747px #fff, 1971px 1893px #fff, 234px 740px #fff, 569px 1550px #fff, 1434px 39px #fff,
		398px 1046px #fff, 1048px 714px #fff, 893px 146px #fff, 1918px 962px #fff, 1847px 1056px #fff, 748px 991px #fff,
		224px 727px #fff, 1040px 1607px #fff, 1255px 26px #fff, 1017px 1952px #fff, 519px 1626px #fff,
		1447px 1623px #fff, 1176px 7px #fff, 1762px 534px #fff, 493px 240px #fff, 875px 601px #fff, 1937px 1449px #fff,
		1735px 89px #fff, 187px 1539px #fff, 425px 1135px #fff, 1418px 1003px #fff, 969px 814px #fff, 37px 1198px #fff,
		1591px 1374px #fff, 1186px 132px #fff, 1164px 636px #fff, 559px 1021px #fff, 379px 1123px #fff,
		460px 1633px #fff, 1628px 336px #fff, 587px 1693px #fff, 1562px 87px #fff, 541px 1478px #fff, 418px 1917px #fff,
		813px 741px #fff, 1391px 164px #fff, 497px 1368px #fff, 742px 930px #fff, 1099px 393px #fff, 1243px 44px #fff,
		933px 1655px #fff, 517px 1863px #fff, 259px 1016px #fff, 1614px 953px #fff, 1760px 923px #fff, 805px 1512px #fff,
		674px 203px #fff, 939px 1611px #fff, 201px 21px #fff, 1979px 171px #fff, 211px 1952px #fff, 869px 1564px #fff,
		97px 1802px #fff, 1354px 1419px #fff, 1904px 369px #fff, 270px 347px #fff, 60px 1907px #fff, 237px 1572px #fff,
		1692px 1091px #fff, 1193px 1748px #fff, 1104px 1295px #fff, 965px 227px #fff, 1948px 1994px #fff,
		1066px 813px #fff, 1572px 1px #fff, 80px 1631px #fff, 1366px 1966px #fff, 1197px 1641px #fff, 594px 365px #fff,
		1947px 1299px #fff, 728px 75px #fff, 133px 1292px #fff, 61px 1057px #fff, 217px 1347px #fff, 1013px 1824px #fff,
		1905px 989px #fff, 311px 938px #fff, 1802px 779px #fff, 1267px 860px #fff, 466px 1633px #fff, 101px 1548px #fff,
		1614px 1000px #fff, 792px 1363px #fff, 698px 1157px #fff, 1691px 213px #fff, 1241px 464px #fff, 541px 441px #fff,
		400px 1402px #fff, 325px 1410px #fff, 521px 186px #fff, 1228px 132px #fff, 1718px 1298px #fff,
		1797px 1625px #fff, 682px 108px #fff, 1237px 349px #fff, 970px 1195px #fff, 1678px 1531px #fff,
		1380px 890px #fff, 475px 915px #fff, 1507px 547px #fff, 874px 896px #fff, 1281px 558px #fff, 1097px 1680px #fff,
		1502px 1540px #fff, 1285px 455px #fff, 1520px 905px #fff, 194px 1435px #fff, 1234px 155px #fff, 382px 661px #fff,
		1914px 1150px #fff, 668px 1104px #fff, 1892px 1927px #fff, 1124px 735px #fff, 1239px 1350px #fff,
		1738px 1524px #fff, 871px 944px #fff, 963px 419px #fff, 695px 830px #fff, 110px 807px #fff, 565px 848px #fff,
		1553px 310px #fff, 1009px 1837px #fff, 849px 1811px #fff, 256px 1048px #fff, 1123px 1079px #fff,
		1996px 1910px #fff, 38px 694px #fff, 1442px 1567px #fff, 1720px 568px #fff, 976px 349px #fff, 1143px 44px #fff,
		1488px 1681px #fff, 220px 374px #fff, 236px 1950px #fff, 545px 1955px #fff, 1223px 375px #fff, 472px 602px #fff,
		1057px 1309px #fff, 1237px 35px #fff, 78px 1800px #fff, 1199px 1003px #fff, 1470px 1077px #fff, 701px 496px #fff,
		1063px 67px #fff, 1624px 1201px #fff, 278px 504px #fff, 895px 1788px #fff, 1022px 1370px #fff, 168px 1214px #fff,
		481px 314px #fff, 667px 1134px #fff, 1560px 616px #fff, 1850px 1925px #fff, 1135px 446px #fff, 1950px 470px #fff,
		1468px 1784px #fff, 526px 650px #fff, 63px 1676px #fff, 1464px 1344px #fff, 548px 1511px #fff, 96px 1771px #fff,
		921px 715px #fff, 1080px 1597px #fff, 1510px 954px #fff, 1495px 1000px #fff, 1825px 1601px #fff,
		390px 1663px #fff, 1098px 1160px #fff, 272px 1460px #fff, 433px 751px #fff, 463px 484px #fff, 1562px 205px #fff,
		1076px 1758px #fff, 1822px 1618px #fff, 1222px 292px #fff, 1914px 165px #fff, 1006px 1989px #fff,
		1321px 947px #fff, 226px 371px #fff, 179px 1431px #fff, 106px 1071px #fff, 772px 881px #fff, 1709px 363px #fff,
		1631px 1333px #fff, 919px 1087px #fff, 453px 1240px #fff, 1090px 695px #fff, 1022px 1947px #fff,
		168px 1578px #fff, 1100px 1808px #fff, 1391px 586px #fff, 14px 1994px #fff, 602px 1462px #fff, 1799px 272px #fff,
		1129px 894px #fff, 556px 16px #fff, 85px 803px #fff, 446px 881px #fff, 1439px 250px #fff, 1997px 1474px #fff,
		1256px 220px #fff, 1489px 735px #fff, 585px 426px #fff, 1571px 1059px #fff, 1396px 973px #fff,
		1412px 1653px #fff, 880px 74px #fff, 760px 1965px #fff, 382px 1620px #fff, 512px 1551px #fff, 1565px 1071px #fff;
}

@keyframes animStar {
	from {
		transform: translateY(0px);
	}

	to {
		transform: translateY(-2000px);
	}
}
